@model IEnumerable<MoviesStore.Core.Entities.Movie>
<h1>Purchases</h1>

<div>
    <div class="container-fluid">
        <div class="row">
            @foreach (var movie in Model)
            {
                <partial name="_MovieCard" model="movie" />
            }
        </div>
    </div>
</div>
